---
import { Image } from "astro:assets";
---

<section
	class="relative h-screen flex items-center justify-center overflow-hidden"
>
	<div
		class="absolute z-[15] bottom-0 top-0 w-full h-full
    bg-gradient-to-b from-transparent from-30% via-black/70 to-black ointer-events-none"
	>
	</div>
</section>
<div class="absolute top-0 z-10">
	<Image
		src="/img/hero.avif"
		alt="imagen de gabriel osuna con logos de astro y react"
		class="hidden md:block md:w-screen md:h-screen md:object-cover"
		width="1349"
		height="607"
	/>
	<Image
		src="/img/hero2.avif"
		alt="imagen de gabriel osuna con logos de astro y react"
		class="block md:hidden w-full h-screen object-cover"
		width="881"
		height="1080"
	/>
</div>
<div
	class="absolute top-20 md:left-10 z-20 md:text-center text-white px-4 w-3/4 md:w-1/2"
>
	<h1
		class="text-3xl md:text-6xl font-bold mb-4 animate-fade-in-down drop-shadow-xl"
	>
		Creador de <span
			class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-blue-500"
			>Landing Pages</span
		> Convierte Visitas en Clientes
	</h1>
	<p class="text-xl md:text-2xl mb-8 animate-fade-in-up drop-shadow-2xl">
		Diseña, desarrolla y lanza páginas de aterrizaje que convierten visitantes
		en clientes
	</p>
	<a
		name="ir a whatsapp"
		target="_blank"
		href="https://wa.link/14jxvh"
		class="bg-blue-800 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-md text-lg transition duration-200 ease-in-out transform hover:scale-105 animate-pulse drop-shadow-xl"
	>
		Quiero mi web
	</a>
</div>
