---
import { Image } from "astro:assets";
---

<section class="mx-auto mt-24 mb-20 max-w-6xl text-center p-6">
	<h2
		class="block w-full bg-gradient-to-b from-white to-gray-400 bg-clip-text font-bold text-transparent text-3xl sm:text-4xl md:text-5xl"
	>
		Habilidades
	</h2>
	<p>
		Me encanta la programacion y saber que mis clientes quedan satisfechos,
		disfruto mucho los projectos complejos con los cuales siento que enloquesere
		pero el resultado final siempre es alucinante.
	</p>
	<div
		class="gr mx-auto max-w-3xl items-stretch space-y-4 text-left sm:flex sm:space-y-0 sm:space-x-8 sm:text-center"
	>
		<a
			class="flex w-full items-center rounded-xl px-4 py-6 duration-200 hover:border-opacity-0 hover:no-underline hover:shadow-lg text-white hover:bg-gray-700 sm:flex-col sm:hover:shadow-2xl"
			href="#"
			target="_blank"
		>
			<Image
				class="mr-4 w-12 sm:mr-0 sm:h-32 sm:w-32"
				src="/img/astro.webp"
				alt=" logo de astro build"
				width="128"
				height="128"
			/>
			<div>
				<div class="font-semibold text-white sm:mt-4 sm:mb-2">Astro</div>
			</div>
		</a>
		<a
			class="flex w-full items-center rounded-xl px-4 py-6 duration-200 hover:border-opacity-0 hover:no-underline hover:shadow-lg text-white hover:bg-gray-700 sm:flex-col sm:hover:shadow-2xl"
			href="#"
			target="_blank"
		>
			<Image
				class="mr-4 w-12 sm:mr-0 sm:h-32 sm:w-32"
				src="/img/react.webp"
				alt="logo de React"
				width="128"
				height="128"
			/>
			<div>
				<div class="font-semibold text-white sm:mt-4 sm:mb-2">React</div>
			</div>
		</a>
		<a
			class="flex w-full items-center rounded-xl border border-black border-opacity-10 px-4 py-6 duration-200 hover:border-opacity-0 hover:no-underline hover:shadow-lg text-white hover:bg-gray-700 sm:flex-col sm:hover:shadow-2xl"
			href="#"
			target="_blank"
		>
			<Image
				class="mr-4 w-12 sm:mr-0 sm:h-32 sm:w-32"
				src="/img/next.webp"
				alt="logo de next.js"
				width="128"
				height="128"
			/>
			<div>
				<div class="font-semibold text-white sm:mt-4 sm:mb-2">Next.js</div>
			</div>
		</a>
	</div>
</section>
